<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878817171101-48jbq4io9jcgvaikt8f4d43f05p0tcc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878817171101-48jbq4io9jcgvaikt8f4d43f05p0tcc1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878817171101-9n9jvn4n6fqcp7ep3mrldh5rvnbk38pj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAX8w_QGRrJLmU2vK5vNVEtyMjehm76tlE</string>
	<key>GCM_SENDER_ID</key>
	<string>878817171101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.climaapp</string>
	<key>PROJECT_ID</key>
	<string>clima-88541</string>
	<key>STORAGE_BUCKET</key>
	<string>clima-88541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878817171101:ios:ed4e9ca779d102bd5d6674</string>
</dict>
</plist>